<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
     <div class="col-lg-11">
         <ul>
             <li>
                  <h1>Educación1</h1> - <h2>(years)</h2>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro hic voluptatibus tenetur est quam harum animi suscipit maxime, quae corporis reprehenderit exercitationem, laboriosam quaerat ipsum numquam eaque qui autem dolor?</p>                      
             </li>
             <hr>
             <li>
              <h1>Educación2</h1> - <h2>(years)</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro hic voluptatibus tenetur est quam harum animi suscipit maxime, quae corporis reprehenderit exercitationem, laboriosam quaerat ipsum numquam eaque qui autem dolor?</p>                      
              </li>
              <hr>
              <li>
                  <h1>Educación3</h1> - <h2>(years)</h2>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro hic voluptatibus tenetur est quam harum animi suscipit maxime, quae corporis reprehenderit exercitationem, laboriosam quaerat ipsum numquam eaque qui autem dolor?</p>                      
              </li>
              <hr>
         </ul>
      </div>
  </div>