<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
     <div class="col-lg-11">
         <ul>
             <li>
                  <h1>Diplomatura en Crim. y Criminología</h1> - <h2>(2017)</h2>
                  <h5>En sociedad se producen hechos delictivos que atacan múltiples bienes socialmente valiosos de los ciudadanos y del grupo colectivo. Esto afecta las pautas básicas de subsistencia social, generando sensibilidad negativa. Por eso es necesario desarrollar la capacidad para investigar las conductas humanas presuntamente delictivas, posibilitando responder con indeclinable respeto a la ley; brindando solución ágil y expeditiva para el descubrimiento y explicación de lo sucedido, diplomatura realizada por la universidad del Siglo 21</h5>                      
             </li>
             <hr>
             <li>
                  <h1>Paramédico</h1> - <h2>(2017)</h2>
                  <h5>Dictado por la Fundación Instituto Latinoamericano de Desarrollo Social y Salud, donde aprendí (Emergentologia, Primeros Auxilios, Chofer de Ambulancia, Radio Operador y Camillero) </h5>                      
              </li>
              <hr>
              <li>
                  <h1>Gestión De Org. Estatales</h1> - <h2>(2017)</h2>
                   <h4>(CURSO)</h4>
                   <h5>Dictado por el instituto Provincial de la Administración Pública de la Provincia de Tucumán que invita a Conocer y comprender los fundamentos teóricos y metodológicos específicos de la Administración Pública para contribuir al logro de los objetivos y metas de la propia repartición.</h5>                      
              </li>
              <hr>
         </ul>
      </div>
  </div>