
<div class="row">
  <h1>Experiencia Laboral</h1>

   <!--- columna izquierda-->
    <div class="col-12 col-lg-9 ">
      <div class="row">
        <div class="col-12 col-lg-8 p-2">
            <article class="card h-100 bg-secondary">
              <div class="card-body">
                 <div class="d-flex mb-3">
                    <img src="../../../assets/descarga.jpg" width="75px" alt="" id="escribania">
                    <div class="ps-3" id="titulo">
                      <h6 class="m-0">Escribania Delloca</h6>
                      <p class="m-0">Reg. 46</p>
                    </div>
                 </div>
              </div>
              <p class="h6 p-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, dicta in commodi nihil voluptas saepe quaerat natus, dolorem maxime minus eius voluptates debitis. Natus quia eveniet non a eum? Optio.</p>
              <p class="fs-6 lh-1 p-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto nisi eaque ex fugiat, expedita in odio, blanditiis possimus cum perspiciatis sapiente! Mollitia eius dolore, quia eum corporis culpa non laborum!</p>
            </article>
          </div>

          <div class="col-12 col-lg-4 p-2 ">
            <article class="card h-100 bg-success">
              <div class="card-body">
                 <div class="d-flex mb-3">
                    <img src="../../../assets/descarga.jpg" width="75px" alt="">
                    <div class="ps-3" id="titulo">
                      <h6 class="m-0">Escribania Delloca</h6>
                      <p class="m-0">Reg. 46</p>
                    </div>
                 </div>
              </div>
              <p class="h6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, dicta in commodi nihil voluptas saepe quaerat natus, dolorem maxime minus eius voluptates debitis. Natus quia eveniet non a eum? Optio.</p>
            </article>
          </div>

          <div class="col-12 col-lg-4 p-2">
            <article class="card h-100 bg-blue">
              <div class="card-body">
                 <div class="d-flex">
                    <img src="../../../assets/descarga.jpg" width="75px" alt="" id="escribania">
                    <div class="ps-3" id="titulo">
                      <h6 class="m-0">Escribania Delloca</h6>
                      <p class="m-0">Reg. 46</p>
                    </div>
                 </div>
              </div>
              <p class="h6 p-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, dicta in commodi nihil voluptas saepe quaerat natus, dolorem maxime minus eius voluptates debitis. Natus quia eveniet non a eum? Optio.</p>
            </article>
          </div>

          <div class="col-12 col-lg-8 p-2">
            <article class="card h-100 bg-danger">
              <div class="card-body">
                 <div class="d-flex">
                    <img src="../../../assets/descarga.jpg" width="75px" alt="" id="escribania">
                    <div class="ps-3" id="titulo">
                      <h6 class="m-0">Escribania Delloca</h6>
                      <p class="m-0">Reg. 46</p>
                    </div>
                 </div>
              </div>
              <p class="h6 p-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, dicta in commodi nihil voluptas saepe quaerat natus, dolorem maxime minus eius voluptates debitis. Natus quia eveniet non a eum? Optio.</p>
              <p class="fs-6 lh-1 p-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto nisi eaque ex fugiat, expedita in odio, blanditiis possimus cum perspiciatis sapiente! Mollitia eius dolore, quia eum corporis culpa non laborum!</p>
            </article>
          </div>

        </div>
      </div>

    <!--columna derecha-->
    <div class="col-12 col-lg-3 ">
      <article class="card h-100 bg-secondary">
        <div class="card-body">
           <div class="d-flex">
              <img src="../../../assets/descarga.jpg" width="75px" alt="" class="border" >
              <div class="ps-3" >
                <h6 class="m-0">Escribania Delloca</h6>
                <p class="m-0">Reg. 46</p>
              </div>
           </div>
        </div>
        <p class="h6 p-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, dicta in commodi nihil voluptas saepe quaerat natus, dolorem maxime minus eius voluptates debitis. Natus quia eveniet non a eum? Optio.</p>
        <p class="fs-6 lh-1 p-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto nisi eaque ex fugiat, expedita in odio, blanditiis possimus cum perspiciatis sapiente! Mollitia eius dolore, quia eum corporis culpa non laborum!</p>
      </article>
    </div>
</div>