
<div class="row">
  <h1>Experiencia Laboral</h1>

   <!--- columna izquierda-->
     <div class="col-12 col-lg-9">
      <div class="row">
         <div class="col-12 col-lg-8 p-3 ">
           <article class="card h-100 fondo-card shadow-lg">
               <div class="card-body">
                  <div class="d-flex mb-3">
                     <img src="../../../assets/col.escri.jpg" alt="" class="border border- border-3 rounded-circle">
                       <div class="ps-lg-3 text-dark">
                       <h6 class="m-0 h6">Escibania Delloca</h6>
                        <p class="m-0 h6">Reg.46</p>
                      </div>
                  </div>
                  <div>
                    <p class="h6">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo cumque, quasi delectus libero animi deserunt eius laudantium magni asperiores, iusto labore ullam vitae ab. Autem excepturi minus illum assumenda iste!</p>
                    <p class="f-6 lh-1">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio aspernatur delectus perferendis consectetur. Voluptatibus doloribus quae necessitatibus impedit quam quaerat magni saepe hic totam, ex perspiciatis odit cumque modi numquam?</p>
                  </div>
               </div>
           </article>
         </div>
         <div class="col-12 col-lg-4 p-3 ">
          <article class="card h-100 bg-primary shadow-lg">
            <div class="card-body">
               <div class="d-flex mb-3">
                  <img src="../../../assets/paramedico.jpg" alt="" class="border border-secondary border-3 rounded-circle">
                    <div class="ps-lg-3">
                    <h6 class="m-0 h6">Escibania Delloca</h6>
                     <p class="m-0 h6">Reg.46</p>
                   </div>
               </div>
               <div>
                 <p class="h6">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo cumque, quasi delectus libero animi deserunt eius laudantium magni asperiores, iusto labore ullam vitae ab. Autem excepturi minus illum assumenda iste!</p>
               </div>
            </div>
        </article>
         </div>
         <div class="col-12 col-lg-4 p-3 ">
          <article class="card h-100 bg-secondary shadow-lg">
            <div class="card-body">
               <div class="d-flex mb-3">
                  <img src="../../../assets/salinas.jpeg" alt="" class="border border-secondary border-3 rounded-circle">
                    <div class="ps-lg-3">
                    <h6 class="m-0 h6">Escibania Delloca</h6>
                     <p class="m-0 h6">Reg.46</p>
                   </div>
               </div>
               <div>
                 <p class="h6">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo cumque, quasi delectus libero animi deserunt eius laudantium magni asperiores, iusto labore ullam vitae ab. Autem excepturi minus illum assumenda iste!</p>
               </div>
            </div>
        </article>
         </div>
         <div class="col-12 col-lg-8 p-3">
          <article class="card h-100 bg-dark text-white shadow-lg">
            <div class="card-body">
               <div class="d-flex mb-3">
                  <img src="../../../assets/icono.guardia.jpg" alt="" class="border border-secondary border-3 rounded-circle">
                    <div class="ps-lg-3">
                    <h6 class="m-0 h6">Escibania Delloca</h6>
                     <p class="m-0 h6">Reg.46</p>
                   </div>
               </div>
               <div>
                 <p class="h6">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo cumque, quasi delectus libero animi deserunt eius laudantium magni asperiores, iusto labore ullam vitae ab. Autem excepturi minus illum assumenda iste!</p>
                 <p class="f-6 lh-1">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio aspernatur delectus perferendis consectetur. Voluptatibus doloribus quae necessitatibus impedit quam quaerat magni saepe hic totam, ex perspiciatis odit cumque modi numquam?</p>
               </div>
            </div>
        </article>
         </div>
      </div>
     </div>

    <!--columna derecha-->
    <div class="col-12 col-lg-3 p-1 ">
      <article class="card bg- text-dark shadow-lg">
        <div class="card-body">
           <div class="d-flex mb-3">
              <img src="../../../assets/col.escri.jpg" alt="" class="border border- border-3 rounded-circle">
                <div class="ps-lg-3">
                <h6 class="m-0 h6">Escibania Delloca</h6>
                 <p class="m-0 h6">Reg.46</p>
               </div>
           </div>
           <div>
             <p class="h6">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo cumque, quasi delectus libero animi deserunt eius laudantium magni asperiores, iusto labore ullam vitae ab. Autem excepturi minus illum assumenda iste!</p>
             <p class="f-6 lh-1">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio aspernatur delectus perferendis consectetur. Voluptatibus doloribus quae necessitatibus impedit quam quaerat magni saepe hic totam, ex perspiciatis odit cumque modi numquam?</p>
             <p class="h6">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut, quod ratione omnis et possimus exercitationem quasi quia numquam eum sequi ullam in architecto alias distinctio impedit voluptates quos incidunt ducimus.</p>
           </div>
        </div>
    </article>
    </div>