.row{
    padding: 20px;
}
div{
    background-color: ;
}
.d-flex img{
    width: 75px;
}
.fondo-card{
    background-image: url(../../../assets/github.png);
    background-repeat: no-repeat;
    background-position: 2% top;
}