<div class="row">
    <h1>Proyecto realizado</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
          <h3>Pagina web de Medicina Estética </h3>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis quas maiores asperiores suscipit adipisci alias impedit laborum est consequatur dolor, cupiditate molestiae voluptates amet repudiandae architecto numquam nostrum, eum reiciendis!</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
           <img src="../../../assets/estetica.png" class="img-fluid img-proyecto">
        </div>
    </div>
</div>
