<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
     <div class="col-lg-11">
         <ul>
             <li>
                  <h1>Diplomatura en Crim. y Criminología</h1> - <h2>(2017)</h2>
                  <h5>En sociedad se producen hechos delictivos que atacan múltiples bienes socialmente valiosos de los ciudadanos y del grupo colectivo. Esto afecta las pautas básicas de subsistencia social, generando sensibilidad negativa. Por eso es necesario desarrollar la capacidad para investigar las conductas humanas presuntamente delictivas, posibilitando responder con indeclinable respeto a la ley; brindando solución ágil y expeditiva para el descubrimiento y explicación de lo sucedido, diplomatura realizada por la universidad del Siglo 21</h5>                      
             </li>
             <hr>
             <li>
                  <h1>Paramédico</h1> - <h2>(2017)</h2>
                  <h5>Dictado por la Fundación Instituto Latinoamericano de Desarrollo Social y Salud, donde aprendí (Emergentologia, Primeros Auxilios, Chofer de Ambulancia, Radio Operador y Camillero) </h5>                      
              </li>
              <hr>
              <li>
                  <h1>Gestión De Org. Estatales</h1> - <h2>(2017)</h2>
                   <h4>(CURSO)</h4>
                   <h5>Dictado por el instituto Provincial de la Administración Pública de la Provincia de Tucumán que invita a Conocer y comprender los fundamentos teóricos y metodológicos específicos de la Administración Pública para contribuir al logro de los objetivos y metas de la propia repartición.</h5>                      
              </li>
              <hr>
              <li>
                <h1>Técnicas de Comunicación Oral Y Expresiva. </h1> - <h2>(2017)</h2>
                 <h4>(CURSO)</h4>
                 <h5>Cursado por el instituto Provincial de la Administración Pública de la Provincia de Tucumán que lleva a Conocer un conjunto de técnicas que determinan las pautas generales que deben seguirse para comunicarse con efectividad, la forma de expresar sin barreras lo que se piensa y procedimientos encaminados a desarrollar el arte de manifestar o hacer sentir a los demás nuestros pensamientos, conceptos, sentimientos o Ideas de forma verbal y no verbal.</h5>                      
            </li>
            <hr>
            <li>
                <h1>RCP Y Manejo de Desfibrilador Externo Automático</h1> - <h2>(2017)</h2>
                 <h4>(CURSO)</h4>
                 <h5>Dictado por la Federación Argentina de Cardiología incorporando conocimientos que  permiten reconocer los factores de riesgo cardiovascular y además practicar las destrezas para detectar un paro cardiaco, evaluar la escena y aplicar las técnicas para brindar Reanimación Cardiopulmonar hasta la llegada de la ambulancia. </h5>                      
            </li>
            <hr>
            <li>
                <h1>Acción y Participación Ciudadana</h1> - <h2>(2018)</h2>
                 <h4>(CURSO)</h4>
                 <h5>Enseñado por el Ministerio de Seguridad de la provincia de Tucumán y la Universidad Nacional de Tucumán, aprendiendo a construir valores, donde la ciudadanía se involucre a través de la participación; usando herramientas y desarrollando habilidades para coexistir en paz dentro de la sociedad.</h5>                      
            </li>
            <hr>
            <li>
                <h1>Acción y Participación Ciudadana</h1> - <h2>(2018)</h2>
                 <h4>(CURSO)</h4>
                 <h5>Enseñado por el Ministerio de Seguridad de la provincia de Tucumán y la Universidad Nacional de Tucumán, aprendiendo a construir valores, donde la ciudadanía se involucre a través de la participación; usando herramientas y desarrollando habilidades para coexistir en paz dentro de la sociedad.</h5>                      
            </li>
            <hr>
            <li>
                <h1>Acción y Participación Ciudadana</h1> - <h2>(2018)</h2>
                 <h4>(CURSO)</h4>
                 <h5>Enseñado por el Ministerio de Seguridad de la provincia de Tucumán y la Universidad Nacional de Tucumán, aprendiendo a construir valores, donde la ciudadanía se involucre a través de la participación; usando herramientas y desarrollando habilidades para coexistir en paz dentro de la sociedad.</h5>                      
            </li>
            <hr>
            <li>
                <h1>Acción y Participación Ciudadana</h1> - <h2>(2018)</h2>
                 <h4>(CURSO)</h4>
                 <h5>Enseñado por el Ministerio de Seguridad de la provincia de Tucumán y la Universidad Nacional de Tucumán, aprendiendo a construir valores, donde la ciudadanía se involucre a través de la participación; usando herramientas y desarrollando habilidades para coexistir en paz dentro de la sociedad.</h5>                      
            </li>
         </ul>
      </div>
  </div>