<div class="row">
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
     <img src="../../../assets/WhatsApp Image 2022-03-15 at 10.01.55 PM (1).jpeg" class="img-fluid" id="fotodeperfil">
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
      <p id="nombre">Pérez Maximiliano Manuel </p>
      <p>Full Stack Developer Jr.</p>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
      <span>
          <h1>Acerca de mí</h1>
          <p>Todos mis estudios y trabajos  los realicé con esfuerzo y pensando en un
            futuro para mí y mi familia. Soy una persona responsable que cumple con 
            los horarios de trabajo y respeta a sus compañeros, si no sé algo,
            pregunto y aprendo,  siempre trato de resolver los problemas. No 
            mezquino mis conocimientos y sé trabajar en grupo. Soy una persona con
            buena presencia. Me gusta practicar deportes, como jugar al  futbol e ir al 
            gimnasio. </p>
      </span>
  </div>
</div>
